Peshawar Caffe.json
{
  "name": "Peshawar Caffe",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are a smart food ordering assistant for \"Peshwar Caffe\".  \n\nRules:  \n\n1. When a user sends their first message (like hi, hello), reply with:  \n\"Welcome to Peshwar Caffe   \nHow can I help you today?  \n- 🛒 Place an order  \n- ℹ️ FAQ / Information  \n- 📦 Check order / stock\"  \n\n(👉 Keep the tone friendly like a food delivery app, not like a product e-commerce site)  \n\n2. If user wants *order*:  \n- Ask step by step: name, food item, quantity  \n- Check Inventory sheet before confirming  \n   - If available → \"Your order for *[item]* (x quantity) is confirmed ✅\"  \n   - If not available → \"Sorry, *[item]* is out of stock ❌. Available options: [list items]\"  \n- Only confirmed orders go into the Orders sheet  \n- In Orders sheet always include:  \n   Status = Confirmed / Rejected  \n   Description = \"Order accepted (item available)\" OR \"Order rejected (out of stock)\"  \n\n3. If user wants *FAQ*:  \n- Answer short and clear (delivery time, payment method, caffee hours)  \n\n4. If user wants *check order* or *check stock*:  \n- Ask for food name or order id  \n- Look up in Google Sheets (Orders / Inventory)  \n   - If checking order → reply with status (Confirmed / Rejected / Cancelled / Delivered)  \n   - If checking stock → reply with available quantity of that food  \n   - Also list all *available* food items with quantity if requested  \n\n5. If user wants *cancel order*:  \n- Reply politely:  \n  \"Sorry 🙏 I cannot cancel orders directly.  \n   Please call the restaurant owner first and inform them.  \n   Owner Contact: +92 3164955319\"  \n\n6. Always reply in short text like a normal WhatsApp chat  \n- Do not use **bold** or long paragraphs  \n- Use *stars* only for highlighting words  \n- Keep tone friendly, polite, and food-delivery app style  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -432,
        -384
      ],
      "id": "ce5e56cb-6455-4c18-8c8f-c8936cd2bc69",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -608,
        -128
      ],
      "id": "59b5cd25-51d3-4bd4-8601-ff942ae32bfc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qmHO7HYhBuxI21nu",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.messages[0].text.body }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -480,
        -48
      ],
      "id": "a804aa1e-4b4d-477a-a53a-28cc6cfcb7a7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aZEEGZvDNt8uf-4RXz5hhg5COK5frYSZhGRgIRat22U",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aZEEGZvDNt8uf-4RXz5hhg5COK5frYSZhGRgIRat22U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Inventory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aZEEGZvDNt8uf-4RXz5hhg5COK5frYSZhGRgIRat22U/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -320,
        -64
      ],
      "id": "cf31e44a-55b4-404b-b4a8-ab551cf0bc11",
      "name": "Get Inventory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oLkTW3uAALYfqlop",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aZEEGZvDNt8uf-4RXz5hhg5COK5frYSZhGRgIRat22U",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aZEEGZvDNt8uf-4RXz5hhg5COK5frYSZhGRgIRat22U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1968174886,
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aZEEGZvDNt8uf-4RXz5hhg5COK5frYSZhGRgIRat22U/edit#gid=1968174886"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -208,
        -64
      ],
      "id": "a8cb042a-7294-45ee-86d5-5f567eda24e8",
      "name": "FAQ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oLkTW3uAALYfqlop",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1aZEEGZvDNt8uf-4RXz5hhg5COK5frYSZhGRgIRat22U",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aZEEGZvDNt8uf-4RXz5hhg5COK5frYSZhGRgIRat22U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 391972680,
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aZEEGZvDNt8uf-4RXz5hhg5COK5frYSZhGRgIRat22U/edit#gid=391972680"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Customer_Name', ``, 'string') }}",
            "Food Item ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Food_Item_', ``, 'string') }}",
            "Quantity Ordered ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quantity_Ordered_', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Order Date": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Food Item ",
              "displayName": "Food Item ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity Ordered ",
              "displayName": "Quantity Ordered ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Date",
              "displayName": "Order Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -96,
        -96
      ],
      "id": "2f76069d-33a6-4a3f-893e-ff45fbf36cf9",
      "name": "Post Orders",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oLkTW3uAALYfqlop",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        -368
      ],
      "id": "3e7ff9d1-85b9-4a24-a2ef-58bb0434ef8b",
      "name": "WhatsApp Trigger",
      "webhookId": "c362f9c9-44b8-4c01-9843-a9cfc2757027",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "obPBhMDCloTFwssj",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "839845825879692",
        "recipientPhoneNumber": "93744165956",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -48,
        -368
      ],
      "id": "8dcd2512-b66c-403a-8c6a-5844a071aa2d",
      "name": "Send message",
      "webhookId": "ebb1847a-94d7-4aaa-ad36-7bd2921c50ba",
      "credentials": {
        "whatsAppApi": {
          "id": "S2s1dcsjcYjnDOBO",
          "name": "WhatsApp account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Inventory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "FAQ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Post Orders": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "05a16b28-797a-4db5-9f7e-f5843e522e09",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc474f1b8e48a5d1fce930aaf728e863c921ce88d115dee726688daaa692e492"
  },
  "id": "Icgf6hZQcPOAeBXE",
  "tags": [
    {
      "createdAt": "2025-11-01T18:28:47.774Z",
      "updatedAt": "2025-11-01T18:28:47.774Z",
      "id": "gYEtvjSJfXTNqWqg",
      "name": "BOT"
    }
  ]
}